.Block {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: grey;
}
.Block:focus {
  box-shadow: 0 0 0 0.5px grey;
}

.BlockLabel {
  font-size: 12px;
}
.BlockInput {
  font-size: 10px;
}
.BlockNumberInput {
  width: 50px;
  font-size: 10px;
}

/* Output block */
.OutputBlock {
  border-color: red;
}
.OutputBlock:focus {
  box-shadow: 0 0 0 0.3px red;
}

/* Raster block */
.RasterBlock {
  border-color: blue;
}
.RasterBlock:focus {
  box-shadow: 0 0 0 0.3px blue;
}

/* Number block */
.NumberBlock {
  border-color: green;
}
.NumberBlock:focus {
  box-shadow: 0 0 0 0.3px green;
}