.Block {
  font-size: 12px;
  width: 180px;
  word-break: break-all;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: grey;
  position: relative;
}
.Block:focus {
  box-shadow: 0 0 0 0.5px grey;
}

.BlockHeader {
  height: 70px;
}
.BlockHeader h4 {
  border-bottom: 1px solid lightgrey;
}

.BlockInput {
  width: 100%;
  margin-top: 10px;
}

/* Raster block */
.RasterBlock {
  border-color: orange;
}
.RasterBlock:focus {
  box-shadow: 0 0 0 0.5px orange;
}