.SideBar {
  /* height: 600px; */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.Block {
  width: 120px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}

.SearchBar {
  font-size: 12px;
  width: 120px;
  margin-bottom: 10px;
  padding: 10px 5px;
  position: sticky;
  top: 0;
}