.SideBar {
  height: calc(100vh - 200px); /* without this, the overflow auto will not work */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.Block {
  width: 120px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.Block:active {
  transform: translateY(2px);
}

.SearchBar {
  font-size: 12px;
  width: 120px;
  margin-bottom: 10px;
  padding: 10px 5px;
  position: sticky;
  top: 0;
}