.DateTimeInvalid {
  border: 2px solid red;
}

.GridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin-top: 10px;
}

.ReselectButton {
  margin-left: 5px;
  border: none;
}
.ReselectButton:active {
  transform: translateY(2px);
}