.App {
  padding: 0 0 25px 0;

}

.NoResults {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  align-items: center;
}
.NoResults h5 {
  color: #C1C1C1;
  font-weight: 300;
  margin: 30px;
}

.TemplateRow {
  cursor: pointer;
}
.TemplateRow td a {
  color: #333;
  text-decoration: none;
}

.TemplateTypeBadge {
  border: 1px solid #333;
  font-size: 12px;
  padding: 2px 10px 2px 10px;
  border-radius: 3px;
  margin: 0 5px 0 5px;
  text-transform: uppercase;
}
