.NewTemplate {
}

.TemplateTypeBadge {
  border: 1px solid #333;
  font-size: 12px;
  padding: 2px 10px 2px 10px;
  border-radius: 3px;
  margin: 0 5px 0 5px;
  text-transform: uppercase;
}

.ParameterTable td {
  font-size: 12px;
}
.ParameterTable tbody tr {
  cursor: pointer;
}
.ParameterTable thead td {
  font-weight: 500;
  text-transform: uppercase;
}



.fadeEnter {
  opacity: 0.01;
}

.fadeEnterActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeLeave {
  opacity: 1;
}

.fadeLeaveActive {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
