/* CSS for form layout and text */
.Form {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  margin: 30px 0;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 5px;
  overflow-y: auto;
}
.FormFieldTitle {
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.Label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.LabelTitle {
  margin-bottom: 8px;
  font-weight: 500;

  /* font-style: normal;
  font-variant: normal;
  font-size: 16px;
  line-height: 16px;
  color: #2C3E50; */
}
.Form input {
  font-weight: normal;
}

.ButtonContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* CSS for form input fields */
.FormControl {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.FormControl:focus {
  outline: none;
  border-color: #73C9B2;
  box-shadow: 0 0 1px 1px #73C9B2;
}
.FormControl:read-only {
  background-color: rgb(216, 216, 216);
  cursor: not-allowed;
}
.FormSubmitted:invalid {
  border-color: #AE0000;
}
.FormSubmitted:invalid:focus {
  box-shadow: none;
}
.FormGroup {
  margin-bottom: 10px;
}

.FormControlSmall {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.FormControlSmall:focus {
  border-color: #73C9B2;
  outline: 0;
}

.Large {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.Checkbox {
  border: 2px solid red;
}

.Checkmark {
  margin-left: 12px;
  color: #009F86;
}

.Errors {
  color: red;
}



input::-webkit-outer-spin-button.HideNumberUpDownArrows,
input::-webkit-inner-spin-button.HideNumberUpDownArrows {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].HideNumberUpDownArrows {
  -moz-appearance: textfield;
}