.InputContainer {
  width: "calc(100% - 90px)";
  margin-left: 90px;
}

.PositionRelative {
  position: relative;
}

.ReadOnly {
  cursor: not-allowed;
  background-color: var(--color-input-disabled);
}

.SubmitSpan {
  font-weight: bold;
  position: relative;
}
