.tableHeader {
  color: #858E9C;
  font-weight: bold;
  padding: 10px;
  display: flex;
  border-bottom: 2px solid #858E9C;
}
.tableHeaderRowCheckbox {
  flex-basis: auto;
  padding: 0px 10px 0px 10px;
  display: flex;
  visibility: hidden;
}
.tableHeaderRowName {
  flex: 2 0 0;
  padding: 0px 10px 0px 10px;
}
.tableHeaderRowDescription {
  flex: 2 0 0;
  padding: 0px 10px 0px 10px;
}
.tableHeaderRowUpload {
  flex-basis: auto;
  padding: 0px 10px 0px 10px;
}

.tableBodyRow {
  padding: 10px;
  flex: 1 100%;
  display: flex;
  border-bottom: 1px solid #D8D8D8;
}
.tableBodyRowCheckbox {
  flex-basis: auto;
  padding: 0px 10px 0px 10px;
  display: flex;
}
.tableBodyRowName {
  flex: 2 0 0;
  padding: 0px 10px 0px 10px;
}
.tableBodyRowDescription {
  flex: 2 0 0;
  padding: 0px 10px 0px 10px;
}
.tableBodyRowUpload {
  flex-basis: auto;
  padding: 0px 10px 0px 10px;
}

.tableFooter {
  color: #858E9C;
  font-weight: bold;
  padding: 10px;
  display: flex;
  border-top: 1px solid #858E9C;
  align-items: center;
}
.tableFooterCheckbox {
  padding: 0px 10px 0px 10px;
  display: flex;
}
.tableFooterName {
  flex: 2 0 0;
  padding: 0px 10px 0px 10px;
}
.tableFooterDescription {
  flex: 2 0 0;
  padding: 0px 10px 0px 10px;
}
.tableFooterUpload {
  padding: 0px 10px 0px 10px;
}

