.tableContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tableHeaderTop{
  display: flex;
  justify-content: space-between;
}

.tableHeader {
  color: #858E9C;
  font-weight: bold;
  padding: 10px;
  display: flex;
  border-bottom: 2px solid #858E9C;
}
.tableBody {
  padding: 10px;
  flex: 1 0 0;
  display: flex;
  border-bottom: 1px solid #D8D8D8;
  justify-content: space-between;
}
.tableFooter {
  color: #858E9C;
  font-weight: bold;
  padding: 10px;
  padding-right: 0px;
  display: flex;
  border-top: 1px solid #858E9C;
  align-items: center;
  justify-content: space-between;
}

.tableFooterBelow{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.tableInfoAndPagination{
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: center;
}

.tableCheckbox {
  flex: 0.1 0 auto;
  padding: 0px 10px 0px 10px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.tableName {
  /* flex: 2 0 0;
  min-width: 20%;
  max-width: 30%; */
  width: 300px;
  padding: 0px 10px 0px 10px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.tableDescription {
  flex: 2 0 0;
  min-width: 20%;
  max-width: 30%;
  padding: 0px 10px 0px 10px;
}
.TableSupplier {
  flex: 1 0 0;
  min-width: 20%;
  max-width: 20%;
  padding: 0px 10px 0px 10px;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}
.TableObservationType {
  flex: 1 0 0;
  min-width: 20%;
  max-width: 20%;
  padding: 0px 10px 0px 10px;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.tableUpload {
  display: flex;
  padding: 0px 10px 0px 10px;
  flex: 0.5 0 0;
  justify-content: flex-end;
}

.tableFooterLeftFiller{
  display: flex;
  flex: 1 0 0;
}
.tableFooterDeleteRasters {
  display: flex;
  flex: 1 0 0;
  justify-content: flex-end;
  padding: 0px 0px 0px 10px;
}

.tableFooterNumberOfRasters{
  font-weight: normal;
}
