.tableHeader {
  color: #858E9C;
  font-weight: bold;
  padding: 10px;
  display: flex;
  border-bottom: 2px solid #858E9C;
}
.tableBody {
  padding: 10px;
  flex: 1 100%;
  display: flex;
  border-bottom: 1px solid #D8D8D8;
}
.tableFooter {
  color: #858E9C;
  font-weight: bold;
  padding: 10px;
  display: flex;
  border-top: 1px solid #858E9C;
  align-items: center;
}

.tableCheckbox {
  flex-basis: auto;
  padding: 0px 10px 0px 10px;
  display: flex;
}
.tableName {
  /* flex: 2 0 0;
  min-width: 20%;
  max-width: 30%; */
  width: 300px;
  padding: 0px 10px 0px 10px;
}
.tableDescription {
  flex: 2 0 0;
  min-width: 20%;
  max-width: 30%;
  padding: 0px 10px 0px 10px;
}
.TableSupplier {
  flex: 1 0 0;
  min-width: 20%;
  max-width: 20%;
  padding: 0px 10px 0px 10px;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}
.TableObservationType {
  flex: 1 0 0;
  min-width: 20%;
  max-width: 20%;
  padding: 0px 10px 0px 10px;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}
.tableUpload {
  flex-basis: auto;
  padding: 0px 10px 0px 10px;
}
.tableFooterDeleteRasters {
  padding: 0px 10px 0px 10px;
}

