  .Active {
    background-color: #a2c6bf;
  }
  .InActive {
    background-color: #c9c9c9;
  }
  
  .PositionRelative {
    position: relative;
  }
  
  .ActiveIndicator {
    /*float: left;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    margin: 5px 20px 0 0;
    /*width: 125px;*/
    height: 40px;
  }
  
  .InputContainer {
    width: "calc(100% - 90px)";
    margin-left: 90px;
  }

  .Textarea {
      resize: vertical;
  }