.PaginationBar {
  border-top: 1px solid #BABABA;
  margin: 30px 0 0 0;
  padding: 30px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.PaginationBar div {
  font-size: 1.2em;
  margin: 0 10px 0 10px;
}

.ButtonLink {
  background:none;
  color: inherit;
  border:none; 
  padding:0;
  font: inherit;
  cursor: pointer;
}
