::-ms-clear{
    display: none;
}

.ClearInput {
    position: absolute;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
    color: #989898;
  }

.ClearInputTopRight {
  top: 16px;
  right: 16px;
}
