.NoResults {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  align-items: center;
}
.NoResults h5 {
  color: #C1C1C1;
  font-weight: 300;
  margin: 30px;
}
.AlarmRow {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.ActiveIndicator {
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  margin: 5px 20px 0 0;
  width: 125px;
  height: 40px;
}
.Active {
  background-color: #a2c6bf;
}
.InActive {
  background-color: #C9C9C9;
}
