.ConfigureThresholdContainer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999999;
}

.ConfigureThreshold {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 6px 5px rgba(0, 0, 0, 0.30);
  width: 80%;
  min-height: 550px;
  /*max-height: 90%;*/
  /*overflow-y: scroll;*/
  padding: 20px;
}

.CloseButton {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}


.Enter {
  opacity: 0.01;
}

.EnterActive {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.Leave {
  opacity: 1;
}

.LeaveActive {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.Appear {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.AppearActive {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
