.Detail {
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.HeaderLeft {
  width: 100%;
}
.Name {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.Counts {
  font-size: 14px;
  margin: 0;
  padding: 0;
}


.ActiveIndicator {
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  margin: 5px 20px 0 0;
  width: 125px;
  height: 40px;
}
.Active {
  background-color: #a2c6bf;
}
.InActive {
  background-color: #C9C9C9;
}
