.AccessModifierTiles {
  display: flex;
}
.AccessModifier {
  height: 96px;
  width: 180px;
  margin-right: 20px;
  border: 1px solid #C9C9C9;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.AccessModifier:focus {
  border-color: var(--color-border-input) !important;
  box-shadow: 0 0 1px 1px var(--color-border-input);
  outline: none;
}
.AccessModifierSelected {
  border: 1px solid var(--color-border-input);
  background-color: #55BFA226;
}

.AccessModifierTilesReadOnly {
  display: flex;
}
.AccessModifierTilesReadOnly > .AccessModifier {
  color: #929292;
  cursor: not-allowed;
}
.AccessModifierTilesReadOnly > .AccessModifierSelected {
  border-color:#C9C9C9;
  background-color: #F6F6F6;
}