.CursorNotAllowed {
  cursor: not-allowed;
}
.CursorPointer {
  cursor: pointer;
}

.Container {
  /* cursor: pointer; */
  display: block;
}
.Label {
  vertical-align:middle;
  margin: 0px;
  margin-left: 1rem;
  /* cursor: pointer; */
}
.CheckboxSpan {
  display: inline-block;
  vertical-align:middle;
  text-align: center;
  /* size same as input elements on page 24px + 2 padding 10px  */
  box-sizing: border-box;
  line-height: 44px;
  width: 44px;
  height: 44px;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  font-size: 3.3rem;
  border-radius: .25rem;
  /* cursor: pointer; */
  color: rgba(0, 159, 134, 1);

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.CheckboxSpan:focus {
  border-color: #73C9B2;
  outline: none;
}

/*Edge browser renders the icon too big*/
@supports (-ms-ime-align: auto) {
  .CheckboxSpan span{
    display: flex;
    font-size: 60%;
  }
}


.Checked {
  color: rgba(0, 159, 134, 1);
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  animation-name: checked-animation;
}
@keyframes checked-animation {
  0% {
    color: rgba(0, 159, 134, 0.15)
  }
  100% {
    color: rgba(0, 159, 134, 1)
  }
}
.Unchecked {
  /* color: rgba(0, 159, 134, 0.1); */
  color: rgba(0, 159, 134, 0);
}
.Unchecked span {
  /* display:none; */
  visibility: hidden;
}
.Hover span {
  /* display: initial; */
  visibility: visible;
}

/* hover check is now done with javascript no longer with css */
/* this is done so we see the difference when user hovered after unchecking the checkbox and normal hover */
/* if user uncheckes the checkbox hover animation is confusing */
/* .Container:hover .Hover { */
.Hover {
  display: inline-block;
  background-color: #fff;
  border-color: #73C9B2;
  outline: none;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  /* color: rgba(0, 159, 134, 0.1); */
  color: rgba(0, 159, 134, 0);
  animation-timing-function: ease;
  animation-duration: 2.5s;
  animation-name: hover-animation;
}
@keyframes hover-animation {
  0% {
    color: rgba(0, 159, 134, 0)
  }
  5% {
    color: rgba(0, 159, 134, 0.27)
  }
  100% {
    /* color: rgba(0, 159, 134, 0.1) */
    color: rgba(0, 159, 134, 0)
  }
}
