.ColormapStepToggleColorpicker {
  width: 36px;
  height: 36px;
  border-radius: 3px;
}

.StepRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.StepRow > * {
  width: 50%;
  padding-right: 40px;
  box-sizing: border-box;
}

.StepContainer {
  overflow-y: auto;
  /* 
  We comment out height because of this bug:
  https://github.com/nens/lizard-management-client/issues/622
  The disadvantage is now that the scroll goes over the whole body of the modal, intead of just over the steps
  */
  /* height: 385px; */
}