.previewColorContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  padding: 10px 0 0 0;
}

.MinMaxValues {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  height: auto;
}

.MinMaxValues span:empty::before {
  content: "";
  display: inline-block;
}

.ColorMapOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ColormapEditButton {
  background-color: transparent;
  border: none;
  color: var(--color-header);
  font-weight: 600;
}
