.OptionsRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.OptionsRow > label {
  cursor: pointer;
  margin-right: 16px;
  position: relative;
}

/* This relative position is needed otherwise so that component gets the height of its content. */
.OptionsRow > label > .Selected {
  position: relative;
}
.OptionsRow > label > input,
.OptionsRow > label > .NotSelected {
  position: absolute;
}

.OptionsRow > label > input {
  opacity: 0;
  visibility: hidden;
}

.OptionsRow > label > input[type="radio"]:checked ~ .Selected {
  visibility: visible;
  opacity: 1;
}
.OptionsRow > label > input[type="radio"]:checked ~ .NotSelected {
  visibility: hidden;
  opacity: 0;
}

.OptionsRow > label > input[type="radio"]:not(:checked) ~ .Selected {
  visibility: hidden;
  opacity: 0;
}
.OptionsRow > label > input[type="radio"]:not(:checked) ~ .NotSelected {
  visibility: visible;
  opacity: 1;
}