.ResultsGrid {
  display: grid;
  grid-template-columns: 270px 270px;
  row-gap: 30px;
  column-gap: 100px;
}

@media only screen and (max-width: 1200px) {
  .ResultsGrid {
    grid-template-columns: 270px;
  }
}

.ResultTitleRow {
  font-weight: 600;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.ResultRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}

.ResultRow span {
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
}