.ResultsGrid {
  display: grid;
  grid-template-columns: 270px 270px;
  row-gap: 30px;
  column-gap: 100px;
}

@media only screen and (max-width: 1200px) {
  .ResultsGrid {
    grid-template-columns: 270px;
  }
}

.ResultTitleRow {
  font-weight: 600;
  height: 40px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ResultTitleRowLeft {
  display: flex;
  align-items: center;
}
.ResultTitleRowLeft button {
  color: var(--color-button);
  font-size: 25px;
  margin-left: 5px;
}

.ResultRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.ResultName {
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
  padding: 0;
  border: 0;
}
