
.SelectChoice {
  position: relative;
}
.Spinner {
  position: absolute;
  top: 7px;
  right: 10px;
}
.Results {
  /* position: absolute; */
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 9px -1px;
  /* z-index: 2; */
}
.ResultRow {
  min-height: 50px;
  padding: 13px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.ResultRow:focus {
  outline: none;
}

.ResultRow:hover {
  background-color: #a6ece0;;
}
.Active {
  background-color: #00cdab;
  color: #fff;
}

.Active:hover {
  background-color: #00cdab;
  color: #fff;
}

.SelectedRow {
  min-height: 50px;
  padding: 13px;
  border-bottom: 1px solid #ccc;
}
  
.SelectedRowReadonly {
  background-color: #c9c9c9;;
}