.GetFromGeoServer {
    display: flex;
    align-items: center;
}

.GetFromGeoServerError {
    color: red;
}

.InputFields {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
  }
  /* .DurationInputFieldDays {
    margin-right: 20px;
  }
  .DurationInputFieldSeconds {
    margin-left: 20px;
    margin-right: 20px;
  } */
  /* .DurationInputHourSecondSeperator{
    display: inline-block;
  }
  .TextAlignRight{
    text-align: right;
  }
  .TextAlignCenter{
    text-align: center;
    width: 160px;
  } */
  .Invalid{
    border-color: red;
  }
  .Invalid:focus{
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
  }
  