.DropZoneContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px dashed #c9c9c9;
  border-radius: 4px;
}

.DropZoneContainer:focus {
  border-color: var(--color-border-input);
  outline: none;
}

.File {
  display: grid;
  grid-template-columns: 4fr 4fr 1fr;
  column-gap: 5px;
  margin-top: 10px;
  align-items: center;
}

.FileName {
  font-weight: 500;
}

.DateTimeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ClearIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
