.ActionButtons {
  width: 100%;
  height: 100%;
  position: relative;
}

.ActionButtons svg {
  fill: #2c3e50;
}
.ActionButtons > button:hover > svg {
  fill: #009f86;
}
.ActionButtons > button:focus {
  outline: none;
}
.ActionButtons > button:focus > svg {
  fill: #009f86;
}

.FormActionButton {
  background-color: var(--color-light-main);
  color: var(--color-header-hover);
  border-color: var(--color-header-hover);

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 40px;

  text-transform: uppercase;
  box-shadow: 2px 2px 2px #00000029;
  border-radius: 3px;
  border-width: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

.TableActionButton {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
