.AddButton {
  border: 1px solid #979797;
  width: 200px;
  height: 30px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
    0deg,
    rgba(216, 216, 216, 0.23) 0%,
    rgba(195, 195, 195, 0.36) 77%,
    #eeeeee 100%
  );
  cursor: pointer;
}
.Title {
  position: absolute;
  left: 55px;
  top: 5px;
  font-size: 12px;
}
.Plus {
  position: absolute;
  width: 40px;
  height: 39px;
  left: 0;
  border-right: 1px solid #979797;
}
.AddIcon {
  position: absolute;
  top: 5px;
  left: 12px;
  font-weight: 100;
  font-size: 18px;
}
