.AppIcon {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px;
  background: #f2f2f2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  cursor: pointer;
  float: left;
  border-radius: 2px;
}
.AppIcon.Disabled {
  background-color: #b9b9b9;
  cursor: not-allowed;
}
.AppIcon.Disabled img {
  filter: grayscale(0.9);
}
.AppIcon.Disabled .SubTitle {
  color: #737373;
}

@media only screen and (max-width: 700px) {
  .AppIcon {
    transform: scale(.85);
  }
}

.Img {
  position: absolute;
  left: 50%;
  margin-left: -42px;
  top: 30px;
}
.Title {
  position: absolute;
  top: 120px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  color: #333;
  text-decoration: none;
}
.SubTitle {
  position: absolute;
  top: 150px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  width: 100%;
  text-align: center;
  color: #a3a3a3;
  text-decoration: none;
}
