.AppTile {
  position: relative;
  width: 229px;
  height: 219px;
  margin: 22.5px;
  cursor: pointer;
  float: left;
  border-radius: 10px;
  justify-content: center;
  background-color: #f2f2f2;
}
.AppTile.Disabled {
  background-color: #b9b9b9;
  cursor: not-allowed;
}
.AppTile.Disabled img {
  filter: grayscale(0.9);
}
.AppTile.Disabled .SubTitle {
  color: #737373;
}

@media only screen and (max-width: 700px) {
  .AppTile {
    transform: scale(.85);
  }
}

.Img {
  position: absolute;
  top: 60px;
  margin-left: 50%; /* From parent width */
  transform: translateX(-50%); /* use self width which can be unknown */
  -ms-transform: translateX(-50%); /* For IE9 */
  height: 70px;
}
.Title {
  position: absolute;
  top: 152px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
  font-family: Montserrat;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
