.AppTile {
  position: relative;
  width: 229px;
  height: 219px;
  margin-top: 22.5px;
  margin-bottom: 22.5px;
  margin-right: 45px;
  margin-left: 0;
  cursor: pointer;
  float: left;
  border-radius: 10px;
  justify-content: center;
  background-color: #f2f2f2;
}
.AppTile.Disabled {
  background-color: #b9b9b9;
  cursor: not-allowed;
}
.AppTile.Disabled img {
  filter: grayscale(0.9);
}
.AppTile.Disabled .SubTitle {
  color: #737373;
}
.AppTile:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 10px #b9b9b9;
}

@media only screen and (max-width: 700px) {
  .AppTile {
    transform: scale(.85);
  }
}

.IconCircleContainer {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%); 
  -ms-transform: translateX(-50%);  
  height: 70px;

  background-color: #55BFA2;
  width: 96px;
  height: 96px;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Title {
  position: absolute;
  top: 152px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
  font-family: Montserrat;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}


.Img {
  position: absolute;
  top: 60px;
  left: 50%;
  /* margin-left: 50%; From parent width */
  transform: translateX(-50%); /* use self width which can be unknown */
  -ms-transform: translateX(-50%); /* For IE9 */
  height: 70px;
}
/* .Title {
  position: absolute;
  top: 152px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
  font-family: Montserrat;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
} */
