.AppTile {
  position: relative;
  float: left;

  width: 300px;
  height: 280px;
  border-radius: 7px;
  box-sizing: border-box;
  overflow: hidden;

  /* Margin could probably be re-used from AppTile.module.css */
  margin-top: 22.5px;
  margin-bottom: 22.5px;
  margin-right: 45px;
  margin-left: 0;

  cursor: pointer;
  background-color: white;
  box-shadow: 3px 3px 6px #00000029;
  text-decoration: none;
}

@media only screen and (max-width: 1620px) {
  .AppTile {
    width: 254px;
    height: 236px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 32px;
  }
}
@media only screen and (max-width: 1000px) {
  .AppTile {
    width: 180px;
    height: 168px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 24px;
  }
}




.AppTile.Disabled {
  background-color: #b9b9b9;
  cursor: not-allowed;
}
.AppTile.Disabled img {
  filter: grayscale(0.9);
}
.AppTile.Disabled .SubTitle {
  color: #737373;
}
.AppTile:hover:not(.Disabled) {
  transform: scale(1.03);
  box-shadow: 2px 2px 10px #b9b9b9;
  text-decoration: none;
}

.IconCircleContainer {

  margin-top: 13%;
  margin-left: 10%;

  background-color: #55BFA2;
  /* size needs to be percentages in order for DecorativeLine to be positioned correctly if tile scales up or because of by screensize */
  /* element needs to be round thus width equal to height: 29% of 300px roughly equals 31% of 280px (size parent container is 300px by 280px)*/
  width: 29%;
  height: 31%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 200;
}
.IconCircleContainer > img {
  height: 70%;
  width: 70%;
}

.Title {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 8%;
  margin-bottom: 4%;
  color: #2C3E50;
  font-family: Montserrat;
  font-size: 17px;
  text-transform: uppercase;
}

.Subtitle {
  margin-left: 10%;
  margin-right: 10%;
  font: normal normal normal 16px/32px Montserrat;
  letter-spacing: 0px;
  color: #2C3E50;
  opacity: 1;
}
@media only screen and (max-width: 1620px) {
  .Subtitle {
    font: normal normal normal 14px/28px Montserrat;
  }
}
@media only screen and (max-width: 1000px) {
  .Title {
    font-size: 14px;
  }
  .Subtitle {
    font: normal normal normal 10px/20px Montserrat;
  }
}

.DecorativeLine {
  position: absolute;
  top: 30%;
  width: 100%;
  left: 0;
  z-index: 100;
  margin: 0;
  border-top-width: 0.5px;
  border-bottom-width: 0;
  color: #707070;
  opacity: 53%;
}


