.CheckboxContainer {
  position: relative;
}
.CheckboxContainer > input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
	background-color: white;
  border: 1px solid #C9C9C9;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.CheckboxContainer > input[type=checkbox]:focus {
  border-color: #73C9B2;
  outline: none;
}
.CheckboxContainer > input[type=checkbox][readonly] {
  cursor: not-allowed;
}

.CheckboxContainer > input[type=checkbox] + div {
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  top: 2px;
	left: 2px;
}
.CheckboxContainer > input[type=checkbox]:checked + div {
  visibility: visible;
}