.ModalHeader {
  font-size: 19px;
  font-weight: 500;
  border-bottom: 0.5px solid #00000029;
  padding: 30px;
}

.ModalBody {
  background-color: #EFEFEF;
  border-bottom: 0.5px solid #00000029;
  padding: 30px;
  padding-bottom: 50px;
  word-wrap: break-word;
}

.ModalFooter {
  display: flex;
  padding: 30px;
}