.DurationInputFields {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
.DurationInputFieldDays {
  margin-right: 20px;
}
.DurationInputFieldSeconds {
  margin-left: 20px;
  margin-right: 20px;
}
.DurationInputHourSecondSeperator{
  display: inline-block;
}
.TextAlignRight{
  text-align: right;
}