.ErrorOverlayContainer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  background-color: hsla(210, 11%, 15%, 0.49);
}

.ErrorOverlay {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 6px 5px rgba(0, 0, 0, 0.3);
  width: 80%;
  min-height: 550px;
  padding: 70px;
}

.ConfirmOverlay {
  position: relative;
  background-color: #fff;
  box-shadow: 3px 3px 2px #00000029;
  width: 60%;
  height: auto;
}

.CloseButton {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.OrganisationRow {
  /*width: 100%;*/
  position: relative;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 45px;
  padding: 10px;
  cursor: pointer;
}
.OrganisationRow:last-child {
  border-bottom: 1px solid #ccc;
}
.OrganisationName {
  position: absolute;
  left: 50px;
  top: 12px;
}
.OrganisationRow:hover {
  background-color: #00cdab;
  color: #fff;
}
.Active {
  background-color: #00cdab;
  color: #fff;
}
.InActive {
}

.Enter {
  opacity: 0.01;
}

.EnterActive {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.Leave {
  opacity: 1;
}

.LeaveActive {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.Appear {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.AppearActive {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.SuccesText {
  display: block;
  text-align: center;
}
