.BackArrow {
  transition: transform 0.2s ease-out;
}
.BackArrow:hover {
  transform: translateX(-4px);
}

.ExplainBoxEffect {
  animation: color 1s ease-out;
}

@keyframes move {
  0% { transform: translateY(0) }
  20% { transform: translateY(1px) }
  40% { transform: translateY(2px) }
  50% { transform: translateY(3px) }
  60% { transform: translateY(2px) }
  80% { transform: translateY(1px) }
  100% { transform: translateY(0) }
}

@keyframes color {
  0% { border-color: var(--color-border-input); box-shadow: 0 }
  10% { border-color: var(--color-border-input); box-shadow: 0 0 1px var(--color-border-input) }
  20% { border-color: var(--color-border-input); box-shadow: 0 0 2px var(--color-border-input) }
  30% { border-color: var(--color-border-input); box-shadow: 0 0 3px var(--color-border-input) }
  50% { border-color: var(--color-border-input); box-shadow: 0 0 4px var(--color-border-input) }
  70% { border-color: var(--color-border-input); box-shadow: 0 0 3px var(--color-border-input) }
  80% { border-color: var(--color-border-input); box-shadow: 0 0 2px var(--color-border-input) }
  90% { border-color: var(--color-border-input); box-shadow: 0 0 1px var(--color-border-input) }
  100% { border-color: var(--color-border-input); box-shadow: 0 }
}