.ExplainBoxEffect {
  animation: color 0.8s;
}

@keyframes move {
  0% { transform: translateY(0) }
  20% { transform: translateY(1px) }
  40% { transform: translateY(2px) }
  50% { transform: translateY(3px) }
  60% { transform: translateY(2px) }
  80% { transform: translateY(1px) }
  100% { transform: translateY(0) }
}

@keyframes color {
  0% { border-color: #73C9B2; box-shadow: 0 }
  10% { border-color: #73C9B2; box-shadow: 0 0 1px #73C9B2 }
  20% { border-color: #73C9B2; box-shadow: 0 0 2px #73C9B2 }
  40% { border-color: #73C9B2; box-shadow: 0 0 3px #73C9B2 }
  50% { border-color: #73C9B2; box-shadow: 0 0 4px #73C9B2 }
  70% { border-color: #73C9B2; box-shadow: 0 0 3px #73C9B2 }
  80% { border-color: #73C9B2; box-shadow: 0 0 2px #73C9B2 }
  90% { border-color: #73C9B2; box-shadow: 0 0 1px #73C9B2 }
  100% { border-color: #73C9B2; box-shadow: 0 }
}