.previewColorContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  padding: 10px 0 0 0;
}

.MinMaxValues{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
