.Container {
  cursor: pointer;
  display: inline-block;
}
.Label {
  vertical-align:middle;
  margin: 0px;
  margin-left: 1rem;
  cursor: pointer;
}
.CheckboxSpan {
  display: inline-block;
  vertical-align:middle;
  text-align: center;
  line-height: 34px;
  width: 34px;
  height: 34px;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  font-size: 2.5rem;
  border-radius: .25rem;
  cursor: pointer;
  color: rgba(0, 159, 134, 1);
}
.Checked {
  color: rgba(0, 159, 134, 1);
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  animation-name: checked-animation;
}
@keyframes checked-animation {
  0% {
    color: rgba(0, 159, 134, 0.15)
  }
  100% {
    color: rgba(0, 159, 134, 1)
  }
}
.Unchecked {
  color: rgba(0, 159, 134, 0);
}

/* hover check is now done with javascript no longer with css */
/* this is done so we see the difference when user hovered after unchecking the checkbox and normal hover */
/* if user uncheckes the checkbox hover animation is confusing */
/* .Container:hover .Hover { */
.Hover {
  color: rgba(0, 159, 134, 0.1);
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-name: hover-animation;
}
@keyframes hover-animation {
  0% {
    color: rgba(0, 159, 134, 0)
  }
  7% {
    color: rgba(0, 159, 134, 0.2)
  }
  100% {
    color: rgba(0, 159, 134, 0.1)
  }
}



