
.SelectGeneralClass {
  position: relative;
}
.Results {
  position: absolute;
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 9px -1px;
  z-index: 2;
}
.ResultRow {
  height: 50px;
  padding: 13px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.ResultRow:hover {
  background-color: #00cdab;
  color: #fff;
}
.Active {
  background-color: #00cdab;
  color: #fff;
}
.InActive {

}

