.SelectRaster {
  position: relative;
  /*has to be > 1000 to be above the +/- of a leaflet map in the new alarm
  notifications for raster and > 1001 to make sure that the dropdown menu is
  shown above the SelectAsset select box.*/
  z-index: 1002;
}
.Results {
  position: absolute;
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 9px -1px;
  z-index: 1002;
}
.Results:focus {
  z-index: 1002;
}
.ResultRow {
  height: 50px;
  padding: 13px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
