.SelectRaster {
  position: relative;
  /*
  z-index has to be >1000 to be above the +/- zoom feature of the Leaflet map
  in the new alarm notification page for rasters.
  z-index has to be >1001 to make sure that the SelectRaster component is
  always visible above the SelectAsset component (and SelectAsset is not
  shown in the middle of the dropdown menu).
  */
  z-index: 1002;
}
.Results {
  position: absolute;
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 9px -1px;
}
.ResultRow {
  height: 50px;
  padding: 13px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
