.SelectAsset {
  position: relative;
  /*
  z-index has to be >1000 to be above the +/- zoom feature of the Leaflet map
  in the new alarm notification page for rasters.
  */
  z-index: 1001;
}
.Results {
  position: absolute;
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 9px -1px;
}
.ResultRow {
  height: 50px;
  padding: 13px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
