.SnackbarWrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.Snackbar {
  position: absolute;
  width: 80%;
  height: 50px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Show {
  bottom: 0;
}
.Hide {
  bottom: -50px;
}
.DismissButton {
  position: absolute;
  right: 20px;
  color: #ff3b80;
  text-transform: uppercase;
  top: 15px;
  cursor: pointer;
}
