.SnackbarWrapper {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  z-index: 99999999; /* to stay on top of the error overlay component */
}
.Snackbar {
  position: absolute;
  width: 50%;
  height: 86px;
  background-color: #ffffff;
  border: 2px solid #2c3e50;
  opacity: 0.8;
  color: #2c3e50;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
}
.Show {
  top: 5px;
}
.Hide {
  top: -90px;
}
.DismissButton {
  position: absolute;
  right: 20px;
  color: #ff3b80;
  text-transform: uppercase;
  cursor: pointer;
}
.SnackbarMessage {
  width: 100%;
  margin-right: 80px;
  text-align: center;
}
