.Table > div {
  display: grid;
}
.Table > div:nth-child(2) {
  display: grid;
  height: 500px;
  overflow-y: scroll;
}

.Table > div > span {
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 37px;
  padding-bottom: 37px;
  /* border-color: black;
  border-style: solid; */
  /* border-width: 0;
  border-left-width: 1px;
  border-top-width: 1px; */

  overflow: hidden;
}