.Table {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-x: auto;

  border-color: var(--color-border-table);
  border-style: solid;
  border-width: 0.5px;

  position: relative;
}

/* header + body */
.Table > div {
  min-width: 1200px;
}

/* header */
.Table > div:nth-child(1) {
  display: grid;
  background-color: var(--color-dark-main);
  color: var(--color-light-main);
}
.Table > div:nth-child(1) > span {
  padding-top: 12px;
  padding-bottom: 9px;
}

/* body */
.Table > div:nth-child(2) {
  /* grid-template-rows: repeat(max-content); */
  grid-auto-rows: max-content;
  overflow-y: auto;
  display: grid;
  height: 100%;
}

/* cells */
.Table > div > span {
  padding: 16px 20px;

  /* height: 64px; */
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}

.CellEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Table > div > .Selected {
  background-color: rgba(53, 75, 97, 0.24);
}

/* header ordering buttons */
.Table > div:nth-child(1) button {
  background-color: transparent;
  color: var(--color-light-main);
  border: none;
  padding: 0;
}
.Table > div:nth-child(1) button > img {
  margin-left: 8px;
}

/* Loading indicator container */
.TableSpinner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

button.TableActionButton {
  border: none;
  background-color: transparent;
  color: var(--color-light-main-second);
  font-weight: var(--font-weight-button);
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 12px;
}
