.Table {
  height: 100%;
  /* width: 100%; */
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-x: auto;
}
/* .Table > div {
  display: grid;
  grid-gap: 18px 74px;
} */
.Table > div:nth-child(1) {
  overflow-x: visible;
  display: grid;
  grid-gap: 18px 74px;
  background-color: var(--color-dark-main);
  color: var(--color-ligth-main);
}

.Table > div:nth-child(4) {
  display: grid;
  grid-gap: 18px 74px;
  /* display: grid;
  grid-gap: 18px 74px; */
  overflow-y: scroll;
  overflow-x: visible;
  width: 100%;
  
  /* height: 650px; */
  /* flex-grow: 1; */
}

.Table > div > span {
  
  /* padding doesnot play nice with grid -> use gridgap instead */
  /* padding-left: 9px;
  padding-right: 9px;
  padding-top: 37px;
  padding-bottom: 37px; */

  /* border-color: black;
  border-style: solid; */
  /* border-width: 0;
  border-left-width: 1px;
  border-top-width: 1px; */

  /* overflow: hidden;
  text-overflow: ellipsis; */
}