.ModalBody {
  width: 100%;
  font-size: 16px;
  color: #003D7A;
  padding: 20px 40px;
}
  
.ModalFooter {
  padding: 20px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
}
