.PaginationContainer {
    font-size: 18px;
    margin: 0 auto;
    color: #8D8D8D;
    min-width: 180px;
    display: flex;
    justify-content: space-between;
}

.NumberContainer {
    margin: auto 0;
}

.PageNumber {
    margin: 0 3px;
    padding: 0 4px;
    cursor: pointer;
}

.CurrentPage {
    padding: 0 4px;
    color: #fff;
    background: #009F86;
    border-radius: 4px;
    cursor: unset;
}

.PaginationButton {
    font-size: 30px;
    border: none;
    background-color: transparent;
}

.PaginationButton:focus {
    outline: none;
}

.PaginationButton:active {
    transform: translateY(2px)
}