.App {}

.OrganisationLink {
  color: #fff !important;
  cursor: pointer;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.LizardLogo {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.NavbarTogglebutton {
  cursor: pointer;
  background-color: #2fcbab;
  color: #fff;
  width: 30px;
  height: 25px;
  border-radius: 2px;
}
