.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.AppContent {
  flex: 1;
}

.AppIcon {
  font-size: 17;
  position: relative;
  left: -7px;
  top: 3px;
}


.Primary {
  background-color: #009F86;
  color: #fff;
}
.Secondary {
  background-color: #2FCBAB;
}
.Secondary a {
  text-decoration: none;
  color: #fff;
}

.Footer {
  background-color: #D8D8D8;
  /* position: absolute;
  width: 100%;
  bottom: 0px; */
}
.Footer a {
  color: #009F86;
  text-decoration: none;
}
.FooterLeft {
  min-height: 120px;
  display: flex;
  align-items: center;
}
.FooterRight {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.FooterRightWrapper{
  display: flex;
  position: relative;
}

.BreadcrumbsContainer{
  height: 65px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.2em;
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.DocumentationHyperlink{
  position: relative;
  top: 5px;
  font-size: 20px;
}
.SupportHyperlink {
  position: relative;
  top: 5px;
  font-size: 20px;
}

.LizardLogo {
  position: relative;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.MDSpinner {
  position: relative;
  top: 50px;
  height: 300px;
  bottom: 50px;
  margin-left: 50%;
}

.NavbarTogglebutton {
  cursor: pointer;
  background-color: #2fcbab;
  color: #fff;
  width: 30px;
  height: 25px;
  border-radius: 2px;
}
.OrganisationLinkContainer {
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.OrganisationLink {
  color: #fff !important;
  cursor: pointer;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Profile {
  width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.TopNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.TopNav div {
  margin: 5px;
}
.TopNav div:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.TopNav a {
  color: #fff;
  text-decoration: none;
}
