/* Custom select
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_custom_select */
/*the container must be positioned relative:*/
.organisation-select {
  position: relative;
  width: 200px;
  font-family: Arial;
}

.organisation-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #009F86;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
.select-items div,.select-selected:first-child {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 0 3px rgba(0, 205, 171, 1);
          box-shadow: 0 0 0 3px rgba(0, 205, 171, 1);
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #2FCBAB;;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
