/* Form input*/
.form-input-text {
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	line-height: 1.5;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	color: #495057;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	-webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-input-text:focus {
	background-color: #fff;
	color: #495057;
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.checkmark {
  margin-left: 10px;
  color: #009F86;
}
