<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://use.fontawesome.com/43b6a67007.js"></script>
    <link href="https://use.fontawesome.com/43b6a67007.css" media="all" rel="stylesheet">
    <link rel="stylesheet" href="layout_edit.css">
    <!-- links for reference to Bootstrap (for Modal?) -->
 <!--    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<!--     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/   popper.min.js" integrity="  sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"     crossorigin="anonymous"></script> -->
<!--     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <!-- end links for reference to Bootstrap -->
    <!-- extra block for specific css references per Django template
      {% block extraheader %}
      {% endblock extraheader %}
    -->
    <title>Lizard management</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="header-top">
          <div class="side-filler">
          </div>
          <div class="header-top-content">
            <div id="header-top-left">
              <img src="lizard.png" id="header-top-left-lizard-logo" alt="Lizard logo">
            </div>
            <div id="header-top-center" class="button-padding">
              <i class="fa fa-sort icon-medium"></i>Organisation
            </div>
            <div id="header-top-right">
              <div id="header-top-right-user" class="button-padding">
                <i class="fa fa-user icon-medium"></i>User
              </div>
              <div id="header-top-right-login" class="button-padding">
                <i class="fa fa-power-off icon-medium"></i>Log in
              </div>
            </div>
          </div>
          <div class="side-filler">
          </div>
        </div>
        <div class="header-bottom">
          <div class="side-filler">
          </div>
          <div class="header-bottom-content">
            Lizard Management / User Management
          </div>
          <div class="side-filler">
          </div>
        </div>
      </header>
      <main>
        <div class="side-filler">
        </div>
        <!-- extra block for main content
          {% block mainContent %}
        -->
          <div id="main-content">
            <!-- {% block question %} -->
              <div class="question">
                <div class="question-header">
                  <div class="question-header-number">
                    <span class="question-header-number-span">
                      1 <!-- Question number -->
                    </span>
                  </div>
                  <div class="question-header-title">
                    Username <!-- Question title -->
                    <span class="checkmark">
                      ✔ <!-- Question validates? -->
                    </span>
                  </div>
                </div>
                <div class="question-main">
                  <div class="question-main-filler-left">
                  </div>
                  <div class="question-main-content">
                    <input type="text" name="username" value="Lirry Pinter" class="form-input-text">
                    <!-- question value goes in the input. Lirry Pinter is now shown as an example -->
                  </div>
                </div>
              </div>
            <!-- {% endblock question %} -->
            <!-- other questions are hardcoded below instead of by question block by lack of for loop -->
              <div class="question">
                <div class="question-header">
                  <div class="question-header-number">
                    <span class="question-header-number-span-inactive">
                      2
                    </span>
                  </div>
                  <span class="question-header-title">
                    Email address
                  </span>
                </div>
                <div class="question-main">
                  <div class="question-main-filler-left">
                  </div>
                  <div class="question-main-content">
                    <input type="text" name="username" value="gebruiker.een@gmail.com" class="form-input-text">
                  </div>
                </div>
              </div>
              <div class="question">
                <div class="question-header">
                  <div class="question-header-number">
                    <span class="question-header-number-span-inactive">
                      3
                    </span>
                  </div>
                  <span class="question-header-title">
                    First name
                  </span>
                </div>
                <div class="question-main">
                  <div class="question-main-filler-left">
                  </div>
                  <div class="question-main-content">
                    <input type="text" name="username" value="Lirry" class="form-input-text">
                  </div>
                </div>
              </div>
              <div class="question">
                <div class="question-header">
                  <div class="question-header-number">
                    <span class="question-header-number-span-inactive">
                      4
                    </span>
                  </div>
                  <span class="question-header-title">
                    Last name
                  </span>
                </div>
                <div class="question-main">
                  <div class="question-main-filler-left">
                  </div>
                  <div class="question-main-content">
                    <input type="text" name="username" value="Pinter" class="form-input-text">
                  </div>
                </div>
              </div>
              <div class="question">
                <div class="question-header">
                  <div class="question-header-number">
                    <span class="question-header-number-span-inactive">
                      5
                    </span>
                  </div>
                  <span class="question-header-title">
                    Roles
                  </span>
                </div>
                <div class="question-main">
                  <div class="question-main-filler-left">
                  </div>
                  <div class="question-main-content">
                    <span class="role role-user margin-5px">U</span>
                    <span class="role role-supplier margin-5px">S</span>
                    <span class="role role-admin-inactive margin-5px">A</span>
                    <span class="role role-manager-inactive margin-5px">M</span>
                    <button id="about-roles-button" class="margin-side-30px">
                      Need help?
                    </button>
                    <!-- The Modal -->
                      <div id="about-roles-modal" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                          <div class="modal-header">
                            <div class="modal-header-title">
                              <h2>About roles</h2>
                            </div>
                          </div>
                          <div class="modal-body">
                            <div class="modal-body-content">
                              <div class="modal-body-user-role">
                                <div class="modal-body-user-role-role">
                                  <span class="role role-user margin-5px">U</span>
                                </div>
                                <div class="modal-body-user-role-description">
                                  <h2>User</h2>
                                  <p>
                                    <ul>
                                      <li>
                                        <span class="bold">Can</span> <span class="underlined">read</span> data
                                      </li>
                                      <li>
                                        <span class="bold">Can't</span> <span class="underlined">write</span> or <span class="underlined">    change</span> data
                                      </li>
                                    </ul>
                                  </p>
                                </div>
                              </div>
                              <div class="modal-body-user-role">
                                <div class="modal-body-user-role-role">
                                  <span class="role role-supplier margin-5px">S</span>
                                </div>
                                <div class="modal-body-user-role-description">
                                  <h2>Supplier</h2>
                                  <p>
                                    <ul>
                                      <li>
                                        <span class="bold">Can</span> supply (<span class="underlined">write</span>) data
                                      </li>
                                      <li>
                                        <span class="bold">Can't</span> <span class="underlined">read</span> or <span class="underlined"><  write>  </write></span> data that they did not supply
                                      </li>
                                    </ul>
                                  </p>
                                </div>
                              </div>
                              <div class="modal-body-user-role">
                                <div class="modal-body-user-role-role">
                                  <span class="role role-admin margin-5px">A</span>
                                </div>
                                <div class="modal-body-user-role-description">
                                  <h2>Administrator</h2>
                                  <p>
                                    <ul>
                                      <li>
                                        <span class="bold">Can</span> <span class="underlined">read</span> and <span class="underlined">  write</ span> data
                                      </li>
                                      <li>
                                        <span class="bold">Can't</span> add, <span class="underlined">change</span> or <span class="  underlined" >delete</span> users
                                      </li>
                                    </ul>
                                  </p>
                                </div>
                              </div>
                              <div class="modal-body-user-role">
                                <div class="modal-body-user-role-role">
                                  <span class="role role-manager margin-5px">M</span>
                                </div>
                                <div class="modal-body-user-role-description">
                                  <h2>Manager</h2>
                                  <p>
                                    <ul>
                                      <li>
                                        <span class="bold">Can</span> <span class="underlined">add</span>, <span class="underlined">  change</  span> or <span class="underlined">delete</span> users
                                      </li>
                                      <li>
                                        <span class="bold">Can't</span> <span class="underlined">read</span>, <span class="underlined"> write</  span> or <span class="underlined">change</span> users
                                      </li>
                                    </ul>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button id="modal-close-button" class="button">CLOSE</button>
                          </div>
                        </div>
                      </div>
                    <!-- Modal stops here -->
                  </div>
                </div>
              </div>
            <!-- hardcoded questions stop here -->
          </div>
        <!--
          {% endblock mainContent %}
        -->
        <div class="side-filler">
        </div>
      </main>
      <footer>
        <div class="side-filler">
        </div>
        <div id="footer-content">
          <div id="footer-left" class="button-padding">
            Documentation<i class="material-icons icon-large">local_library</i>
          </div>
          <div id="footer-right" class="button-padding">
            <i class="material-icons icon-large">headset_mic</i>Support
          </div>
        </div>
        <div class="side-filler">
        </div>
      </footer>
    </div>
  </body>
  <script>
    // Get the modal
    var modal = document.getElementById('about-roles-modal');
    // Get the button that opens the modal
    var buttonAboutRoles = document.getElementById("about-roles-button");
    // Get the <span> element that closes the modal
    var buttonModalClose = document.getElementById("modal-close-button");
    // When the user clicks the button, open the modal
    buttonAboutRoles.onclick = function() {
      modal.style.display = "block";
    }
    // When the user clicks on <button> CLOSE, close the modal
    buttonModalClose.onclick = function() {
      modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
</html>