<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://use.fontawesome.com/43b6a67007.js"></script>
    <link href="https://use.fontawesome.com/43b6a67007.css" media="all" rel="stylesheet">
    <link rel="stylesheet" href="layout_edit.css">
    <!-- extra block for specific css references per Django template
      {% block extraheader %}
      {% endblock extraheader %}
    -->
    <title>Lizard management</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="header-top">
          <div class="side-filler">
          </div>
          <div class="header-top-content">
            <div id="header-top-left">
              <img src="lizard.png" id="header-top-left-lizard-logo" alt="Lizard logo">
            </div>
            <div id="header-top-center" class="button-padding">
              <i class="fa fa-sort icon-medium"></i>Organisation
            </div>
            <div id="header-top-right">
              <div id="header-top-right-user" class="button-padding">
                <i class="fa fa-user icon-medium"></i>User
              </div>
              <div id="header-top-right-login" class="button-padding">
                <i class="fa fa-power-off icon-medium"></i>Log in
              </div>
            </div>
          </div>
          <div class="side-filler">
          </div>
        </div>
        <div class="header-bottom">
          <div class="side-filler">
          </div>
          <div class="header-bottom-content">
            Lizard Management / User Management
          </div>
          <div class="side-filler">
          </div>
        </div>
      </header>
      <main>
        <div class="side-filler">
        </div>
        <!-- extra block for main content
          {% block mainContent %}
        -->
        <div id="main-content">
          <!-- {% block question %} -->
            <div class="question">
              <div class="question-header">
                <div class="question-header-number">
                  <span class="question-header-number-span">
                    1 <!-- Question number -->
                  </span>
                </div>
                <div class="question-header-title">
                  Username <!-- Question title -->
                  <span class="checkmark">
                    ✔ <!-- Question validates? -->
                  </span>
                </div>
              </div>
              <div class="question-main">
                <div class="question-main-filler-left">
                </div>
                <div class="question-main-content">
                  <input type="text" name="username" value="Lirry Pinter" class="form-input-text">
                  <!-- question value goes in the input. Lirry Pinter is now shown as an example -->
                </div>
              </div>
            </div>
          <!-- {% endblock question %} -->
          <!-- other questions are hardcoded below instead of by question block by lack of for loop -->
            <div class="question">
              <div class="question-header">
                <div class="question-header-number">
                  <span class="question-header-number-span-inactive">
                    2
                  </span>
                </div>
                <span class="question-header-title">
                  Email address
                </span>
              </div>
              <div class="question-main">
                <div class="question-main-filler-left">
                </div>
                <div class="question-main-content">
                  <input type="text" name="username" value="gebruiker.een@gmail.com" class="form-input-text">
                </div>
              </div>
            </div>
            <div class="question">
              <div class="question-header">
                <div class="question-header-number">
                  <span class="question-header-number-span-inactive">
                    3
                  </span>
                </div>
                <span class="question-header-title">
                  First name
                </span>
              </div>
              <div class="question-main">
                <div class="question-main-filler-left">
                </div>
                <div class="question-main-content">
                  <input type="text" name="username" value="Lirry" class="form-input-text">
                </div>
              </div>
            </div>
            <div class="question">
              <div class="question-header">
                <div class="question-header-number">
                  <span class="question-header-number-span-inactive">
                    4
                  </span>
                </div>
                <span class="question-header-title">
                  Last name
                </span>
              </div>
              <div class="question-main">
                <div class="question-main-filler-left">
                </div>
                <div class="question-main-content">
                  <input type="text" name="username" value="Pinter" class="form-input-text">
                </div>
              </div>
            </div>
            <div class="question">
              <div class="question-header">
                <div class="question-header-number">
                  <span class="question-header-number-span-inactive">
                    5
                  </span>
                </div>
                <span class="question-header-title">
                  Roles
                </span>
              </div>
              <div class="question-main">
                <div class="question-main-filler-left">
                </div>
                <div class="question-main-content">
                  <span class="role role-user margin-5px">U</span>
                  <span class="role role-supplier margin-5px">S</span>
                  <span class="role role-admin-inactive margin-5px margin-5px">A</span>
                  <span class="role role-manager-inactive margin-5px">M</span>
                  <a href="#" class="margin-5px">need help?</a>
                </div>
              </div>
            </div>
          <!-- hardcoded questions stop here -->
        </div>
        <!--
          {% endblock mainContent %}
        -->
        <div class="side-filler">
        </div>
      </main>
      <footer>
        <div class="side-filler">
        </div>
        <div id="footer-content">
          <div id="footer-left" class="button-padding">
            Documentation<i class="material-icons icon-large">local_library</i>
          </div>
          <div id="footer-right" class="button-padding">
            <i class="material-icons icon-large">headset_mic</i>Support
          </div>
        </div>
        <div class="side-filler">
        </div>
      </footer>
    </div>
  </body>
</html>