<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://use.fontawesome.com/43b6a67007.js"></script>
    <link href="https://use.fontawesome.com/43b6a67007.css" media="all" rel="stylesheet">
    <link rel="stylesheet" href="layout.css">
    <!-- extra block for specific css references per Django template
      {% block extraheader %}
      {% endblock extraheader %}
    -->
    <title>Lizard management</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="header-top">
          <div class="side-filler">
          </div>
          <div class="header-top-content">
            <div id="header-top-left">
              Lizard logo
            </div>
            <div id="header-top-center" class="button-padding">
              <i class="fa fa-sort icons-medium"></i>Organisation
            </div>
            <div id="header-top-right">
              <div id="header-top-right-user" class="button-padding">
                <i class="fa fa-user icons-medium"></i>User
              </div>
              <div id="header-top-right-login" class="button-padding">
                <i class="fa fa-power-off icons-medium"></i>Log in
              </div>
            </div>
          </div>
          <div class="side-filler">
          </div>
        </div>
        <div class="header-bottom">
          <div class="side-filler">
          </div>
          <div class="header-bottom-content">
            Bread crumbs
          </div>
          <div class="side-filler">
          </div>
        </div>
      </header>
      <main>
      <!-- extra block for main content
        {% block container %}
      -->
        <div class="side-filler">
        </div>
        <div id="main-content">
          User table
        </div>
        <div class="side-filler">
        </div>
      <!--
        {% endblock container %}
      -->
      </main>
      <footer>
        <div class="side-filler">
        </div>
        <div id="footer-content">
          <div id="footer-left" class="button-padding">
            Documentation<i class="material-icons icons-large">local_library</i>
          </div>
          <div id="footer-right" class="button-padding">
            <i class="material-icons icons-large">headset_mic</i>Support
          </div>
        </div>
        <div class="side-filler">
        </div>
      </footer>
    </div>
  </body>
</html>