<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://use.fontawesome.com/43b6a67007.js"></script>
    <link href="https://use.fontawesome.com/43b6a67007.css" media="all" rel="stylesheet">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="stylesheet.css">
    <script src="dropdown.js"></script>
    <link rel="stylesheet" href="dropdown.css">
    <!-- extra block for specific css references per Django template
      {% block extraheader %}
      {% endblock extraheader %}
    -->
    <title>Lizard management</title>
  </head>
  <body onload="loadDropDown()">
    <div class="wrapper">
      <header>
        <div class="header-top">
          <div class="side-filler">
          </div>
          <div class="header-top-content">
            <div class="header-top-left">
              <a href="https://nxt3.staging.lizard.net/management/#/">
                <img src="lizard.png" class="header-top-left-lizard-logo" alt="Lizard logo">
              </a>
            </div>
            <div class="header-top-center">
              <div class="custom-select" style="width:200px;">
                <select class="dropdown organisation">
                  <option value="0">Select organisation:</option>
                  <option value="1">Nelen &amp; Schuurmans</option>
                  <option value="2">Deltares</option>
                  <option value="3">HHNK</option>
                  <option value="4">Hunze en Aas</option>
                </select>
              </div>
            </div>
            <div class="header-top-right">
              <a href="https://sso.lizard.net/edit_profile/" target="_blank" rel="noopener noreferrer" title="Lirry"> <!-- title becomes dependent on user name, instead of Lirry -->
                <div class="header-top-right-user">
                  <i class="fa fa-user icon-medium"></i>Lirry <!-- text within i becomes dependent on user name, instead of Lirry -->
                </div>
              </a>
              <a href="https://nxt3.staging.lizard.net/accounts/logout/"> <!-- Should become /accounts/logout/ -->
                <div class="header-top-right-logout">
                  <i class="fa fa-power-off icon-medium"></i>Log out
                </div>
              </a>
            </div>
          </div>
          <div class="side-filler">
          </div>
        </div>
        <div class="header-bottom">
          <div class="side-filler">
          </div>
          <div class="header-bottom-content">
            <a href="https://nxt3.staging.lizard.net/management/#/">Lizard Management</a> / <a href="https://nxt3.staging.lizard.net/management/users/">User Management</a>
          </div>
          <div class="side-filler">
          </div>
        </div>
      </header>
      <main>
        <div class="side-filler">
        </div>
        <!-- extra block for main content
          {% block mainContent %}
        -->
        <div class="main-content">
          Search
          User table
        </div>
        <!--
          {% endblock mainContent %}
        -->
        <div class="side-filler">
        </div>
      </main>
      <footer>
        <div class="side-filler">
        </div>
        <div class="footer-content">
          <div class="footer-left">
            <a href="http://docs.lizard.net/en/latest/introduction.html">
              Documentation<i class="material-icons icon-large">local_library</i>
            </a>
          </div>
          <div class="footer-right">
            <a href="https://nelen-schuurmans.topdesk.net/tas/public/ssp/">
              <i class="material-icons icon-large">headset_mic</i>Support
            </a>
          </div>
        </div>
        <div class="side-filler">
        </div>
      </footer>
    </div>
  </body>
</html>