html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

header, main, footer {
	flex: 1 0 100%;
}
.side-filler {
	display: flex;
	flex-grow: 5;
	flex-shrink: 1;
}

header {
	color: white;
}
.header-top, .header-bottom {
	display: flex;
	align-items: center;
}
.header-top {
	height: 5.7vh;
	background: #009F86;
}
.header-top-content, .header-bottom-content {
	display: flex;
	flex-basis: 0;
	flex-grow: 16;
	flex-shrink: 1;
}
.header-top-content {
	justify-content: center;
}
#header-top-left, #header-top-center, #header-top-right {
	display: flex;
	flex-grow: 1;
	flex: 1 1 20em;
	align-items: center;
}
#header-top-left {
	justify-content: left;
	align-items: start;
}
#header-top-left-lizard-logo {
	position: absolute;
	top: 0.275%;
	height: 7.5%;
}
#header-top-center {
	justify-content: center;
}
#header-top-right {
	justify-content: right;
}
.header-bottom {
	height: 6.8vh;
	background: #2FCBAB;
	font-size: 1.2rem;
}
.header-bottom-content {
	justify-content: left;
}

/*CSS specific for main for user table starts here*/
main {
	display: flex;
	height: 75vh;
	color: black;
}
#main-content {
	display: flex;
	flex-basis: 0;
	flex-grow: 16;
	flex-shrink: 1;
	padding-top: 40px;
	flex-direction: row;
	align-items: left;
	flex-flow: row wrap;
	align-content: flex-start;
}
.search-bar {
	margin: auto;
	background: #F3F3F3;
}
.question {
	flex: 1 0 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.question-header {
	display: flex;
	flex-wrap: row-wrap;
	padding-top: 5px;
	padding-bottom: 5px;
}
.question-header-number {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	align-items: center;
	justify-content: center;
}
.question-header-number-span,
.question-header-number-span-inactive {
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	text-align: center;
}
.question-header-number-span {
	background: #2FCBAB;
}
.question-header-number-span-inactive {
	background: #b9b9b9;
}
.question-header-title {
	display: flex;
	align-items: center;
	flex-grow: 16;
	margin-left: 10px;
	font-size: 1.1rem;
	font-weight: bold;
}
.checkmark {
  margin-left: 10px;
  color: #009F86;
}
.question-main {
	display: flex;
	flex-wrap: row-wrap;
}
.question-main-filler-left {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	align-items: center;
	justify-content: center;
	width: 50px;
}
.question-main-content {
	display: flex;
	align-items: center;
	flex-grow: 16;
	margin-left: 10px;
}

/* Form input*/
.form-input-text {
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	line-height: 1.5;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	color: #495057;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	-webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-input-text:focus {
	background-color: #fff;
	color: #495057;
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Role */
.role {
	display: inline-block;
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 50%;
	text-align: center;
	font-size: 1.5rem;
}
.role-user {
	background: #91D791;
	color: white;
}
.role-user-inactive {
	background: #D8F1D8;
	color: white;
}
.role-user-none {
	background: white;
	color: white;
}
.role-supplier {
	background: #8A79BA;
	color: white;
}
.role-supplier-inactive {
	background: #D6D0E7;
	color: white;
}
.role-supplier-none {
	background: white;
	color: white;
}
.role-admin {
	background: #FBE887;
	color: white;
}
.role-admin-inactive {
	background: #FEF7D5;
	color: white;
}
.role-admin-none {
	background: white;
	color: white;
}
.role-manager {
	background: #FC7878;
	color: white;
}
.role-manager-inactive {
	background: #FED0D0;
	color: white;
}
.role-manager-none {
	background: white;
	color: white;
}
.role-add {
	border: 2px dashed #A6A6A6;
	background: white;
	color: #A6A6A6;
}
.role-add-inactive {
	border: 2px dashed #A6A6A6;
	background: white;
	color: white;
}
.role-add-none {
	border: 2px dashed white;
	background: white;
	color: white;
}
.role-save {
	vertical-align: top;/*moet beter kunnen, komt doordat de font-size van de save knop 1rem is ipv 1.5. Breedte van deze knop klopt ook niet.*/
	height: 50px;
	width: 54px;
	line-height: 50px;
	font-size: 1rem;
	white-space: nowrap;
	text-transform: uppercase;
	background: #2FCBAB;
	color: white;
	cursor: pointer;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}
/*CSS specific for main for user table ends here*/

footer {
	display: flex;
	align-items: center;
	height: 12.5vh;
	background: #D8D8D8;
	color: #009F86;
}
#footer-content {
	display: flex;
	flex-basis: 0;
	flex-grow: 16;
	flex-shrink: 1;
}
#footer-left, #footer-right {
	display: flex;
	flex-grow: 1;
	flex: 1 1 20em;
	align-items: center;
}
#footer-left {
	justify-content: left;
}
#footer-right {
	justify-content: right;
}

/* Modal */
/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	/*margin: auto;*/
	top: 25vh;
	height: 45vh;
	left: 20vw;
	right: 20vw;
	width: 60vw;
	padding: 20px;
	border: 1px solid #888;
	overflow-y: auto;
	font-size: 1rem;
}
.modal-header {
	display: flex;
	height: 25%;
	align-items: center;
	justify-content: center;
}
.modal-header-title {
	display: flex;
}
.modal-body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 55%;
}
.modal-body-content {
	display: flex;
	left: 10%;
	right: 10%;
	width: 80%;
}
.modal-body-user-role {
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 0;
	margin: 10px;
}
.modal-body-user-role-role {
	padding: 5px;
	text-align: center;
}
.modal-body-user-role-description {
	margin-top: 5px;
	/*padding: 5px;*/
	height: 70%;
	background: #F3F3F3;
	font-size: 0.8rem;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
	overflow-y: auto;
}
.modal-body-user-role-description h2 {
	font-size: 0.8rem;
	text-align: center;
}
.modal-body-user-role-description p {
	margin-left: 10%;
	margin-right: 5%;
}
.modal-footer {
	display: flex;
	height: 20%;
	justify-content: flex-end;
	align-items: flex-end;
}
/* The Close Button */
/*.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}*/

/* Buttons */
.button {
	padding: 10px;
	font-size: 1rem;
	white-space: nowrap;
	text-transform: uppercase;
	background: #2FCBAB;
	color: white;
	cursor: pointer;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}
.button-padding {
	padding: 10px;
}

/* Icons */
.icon-medium {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1rem;
}
.icon-large {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1.25rem;
}

/* General */
.text-center {
	text-align: center;
}
.margin-5px {
	margin: 5px;
}
.margin-side-30px {
	margin-left: 30px;
	margin-right: 30px;
}
