html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

header, main, footer {
	flex-shrink: 0;
}

header {
	color: white;
}
.header-top, .header-bottom {
	display: flex;
	align-items: center;
}
.header-top {
	height: 5.7vh;
	background: #009F86;
}
.side-filler {
	display: flex;
	flex-grow: 5;
	flex-shrink: 1;
}
.header-top-content, .header-bottom-content {
	display: flex;
	flex-basis: 0;
	flex-grow: 16;
	flex-shrink: 1;
}
.header-top-content {
	justify-content: center;
}
#header-top-left, #header-top-center, #header-top-right {
	display: flex;
	flex-grow: 1;
	flex: 1 1 20em;
}
#header-top-left {
	justify-content: left;
}
#header-top-center {
	justify-content: center;
}
#header-top-right {
	justify-content: right;
}
#header-top-right-user, #header-top-right-login {
	padding-left: 5px;
	padding-right: 5px;
}
.header-bottom {
	height: 6.8vh;
	background: #2FCBAB;
}
.header-bottom-content {
	justify-content: left;
}

main {
	flex-grow: 1;
	display: flex;
}
#main-content {
	display: flex;
	flex-basis: 0;
	flex-grow: 16;
	flex-shrink: 1;
	justify-content: left;
	padding-top: 10px;
}

footer {
	display: flex;
	align-items: center;
	height: 12.5vh;
	background: #D8D8D8;
	color: #009F86;
}
#footer-content {
	display: flex;
	flex-basis: 0;
	flex-grow: 16;
	flex-shrink: 1;
}
#footer-left, #footer-right {
	display: flex;
	flex-grow: 1;
	flex: 1 1 20em;
}
#footer-left {
	justify-content: left;
}
#footer-right {
	justify-content: right;
}
