html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

header, main, footer {
	flex-shrink: 0;
}

header {
	color: white;
}
.headerTopWrapper {
}
#headerTop {
	display: flex;
	align-items: center;
	height: 55px;
	background: #009F86;
}
/*.flex1 { flex: 1 1 20em; }
.flex2 { flex: 2 2 20em; }*/
.headerTopFiller {
	display: flex;
	flex: 1 1 20em;
}
#headerTopLeft, #headerTopCenter, #topNavBar {
	display: flex;
	flex-grow: 1;
	flex: 1 1 20em;
}
#headerTopLeft {
	justify-content: left;
}
#headerTopCenter {
	justify-content: center;
}
#topNavBar {
	justify-content: right;
}
#topNavBarUser, #topNavBarLogin {
	margin-left: 5px;
	margin-right: 5px;
}
.headerBottomWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
	background: #2FCBAB;
}
.headerBottomFiller {
	display: flex;
	flex-grow: 0.75;
	flex-shrink: 1;
}
.headerBottom {
	display: flex;
	flex-grow: 2;
	flex-shrink: 1;
	justify-content: left;
}

main {
	flex-grow: 1;
}
#mainContent {
	display: flex;
	flex-grow: 1;
	flex: 1 1 20em;
	padding-top: 10px;
	justify-content: center;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background: #D8D8D8;
	color: #009F86;
}
#footerLeft, #footerRight {
	display: flex;
	flex-grow: 1;
	flex: 1 1 20em;
}
#footerLeft {
	justify-content: left;
}
#footerRight {
	justify-content: right;
}
#footerRightLanguage, #footerRightSupport {
	margin-left: 5px;
	margin-right: 5px;
}
