html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

header, main, footer {
	flex-shrink: 0;
}

header {
	color: white;
}
.headerTopWrapper, .headerBottomWrapper {
	display: flex;
	align-items: center;
}
.headerTopWrapper {
	height: 55px;
	background: #009F86;
}
.sideFiller {
	display: flex;
	flex-grow: 5;
	flex-shrink: 1;
}
.headerTop, .headerBottom {
	display: flex;
	flex-basis: 0;
	flex-grow: 16;
	flex-shrink: 1;
}
.headerTop {
	justify-content: center;
}
.headerBottom {
	justify-content: left;
}
#headerTopLeft, #headerTopCenter, #topNavBar {
	display: flex;
	flex-grow: 1;
	flex: 1 1 20em;
}
#headerTopLeft {
	justify-content: left;
}
#headerTopCenter {
	justify-content: center;
}
#topNavBar {
	justify-content: right;
}
#topNavBarUser, #topNavBarLogin {
	padding-left: 5px;
	padding-right: 5px;
}
.headerBottomWrapper {
	height: 65px;
	background: #2FCBAB;
}

main {
	flex-grow: 1;
}
#mainWrapper {
	display: flex;
}
#mainContent {
	display: flex;
	flex-basis: 0;
	flex-grow: 16;
	flex-shrink: 1;
	justify-content: left;
	padding-top: 10px;
}

footer {
}
#footerWrapper {
	display: flex;
	align-items: center; /*niet nodig*/
	height: 120px;
	background: #D8D8D8;
	color: #009F86;
}
#footer {
	display: flex;
	flex-basis: 0;
	flex-grow: 16;
	flex-shrink: 1;
}
#footerLeft, #footerRight {
	display: flex;
	flex-grow: 1;
	flex: 1 1 20em;
}
#footerLeft {
	justify-content: left;
}
#footerRight {
	justify-content: right;
}
#footerRightLanguage, #footerRightSupport {
	padding-left: 5px;
	padding-right: 5px;
}
