html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

header, main, footer {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 100%;
}
.side-filler {
	display: flex;
	flex-grow: 5;
	flex-shrink: 1;
}

header {
	color: white;
}
header a {
	text-decoration: none;
}
.header-top, .header-bottom {
	display: flex;
	align-items: center;
}
.header-top {
	height: 5.7vh;
	background-color: #009F86;
}
.header-top-content, .header-bottom-content {
	display: flex;
	flex-basis: 0;
	flex-grow: 16;
	flex-shrink: 1;
}
.header-top-content {
	justify-content: center;
}
#header-top-left, #header-top-center, #header-top-right {
	display: flex;
	flex-grow: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 20em;
	align-items: center;
}
#header-top-left {
	justify-content: left;
	align-items: start;
}
#header-top-left-lizard-logo {
	position: absolute;
	top: 0.275%;
	height: 7.5%;
}
#header-top-center {
	padding: 5px;
	justify-content: center;
}
#header-top-right {
	justify-content: right;
}
#header-top-right-user {
	padding: 5px;
}
#header-top-right-login {
	padding: 5px;
}
.header-bottom {
	height: 6.8vh;
	background-color: #2FCBAB;
	font-size: 1.2rem;
}
.header-bottom-content {
	justify-content: left;
}

main {
	display: flex;
	height: 75vh;
	color: black;
}
#main-content {
	display: flex;
	flex-basis: 0;
	flex-grow: 16;
	flex-shrink: 1;
	flex-direction: row;
	align-items: left;
	flex-flow: row wrap;
	align-content: flex-start;
}

footer {
	display: flex;
	align-items: center;
	height: 12.5vh;
	background-color: #D8D8D8;
	color: #009F86;
}
footer a {
	text-decoration: none;
	color: #009F86;
}
#footer-content {
	display: flex;
	flex-basis: 0;
	flex-grow: 16;
	flex-shrink: 1;
}
#footer-left, #footer-right {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 20em;
	align-items: center;
}
#footer-left {
	padding: 5px;
	justify-content: left;
}
#footer-right {
	padding: 5px;
	justify-content: right;
}
