/* Modal */
/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	top: 25vh;
	height: 45vh;
	left: 20vw;
	right: 20vw;
	width: 60vw;
	padding: 20px;
	border: 1px solid #888;
	overflow-y: auto;
	font-size: 1rem;
}
.modal-header {
	display: flex;
	height: 25%;
	align-items: center;
	justify-content: center;
}
.modal-header-title {
	display: flex;
}
.modal-body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 55%;
}
.modal-body-content {
	display: flex;
	left: 10%;
	right: 10%;
	width: 80%;
}
.modal-body-user-role {
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 0;
	margin: 10px;
}
.modal-body-user-role-role {
	padding: 5px;
	text-align: center;
}
.modal-body-user-role-description {
	margin-top: 5px;
	height: 70%;
	background-color: #F3F3F3;
	font-size: 0.8rem;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
	overflow-y: auto;
}
.modal-body-user-role-description h2 {
	font-size: 0.8rem;
	text-align: center;
}
.modal-body-user-role-description p {
	margin-right: 5%;
}
.modal-body-user-role-description ul {
	padding-left: 0px;
	margin-left: 25px;
}
.modal-footer {
	display: flex;
	height: 20%;
	justify-content: flex-end;
	align-items: flex-end;
}
