/* role-contents as customCheckmarked with
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_customCheckmark
check if id.checked == true */
/* The container */
.role {
	display: flex;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 5px;
}
/* Hide the browser's default role-content */
.role input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
input[type="checkbox"]:disabled {
	cursor: default;
}
/* Create a custom role-content */
.role-content {
	color: white;
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 50%;
	font-size: 1.5rem;
	text-align: center;
}
.role-content.disabled {
	cursor: default;
}
.role-content.user-role {
	background-color: #D8F1D8;
}
.role-content.supplier-role {
	background-color: #D6D0E7;
}
.role-content.admin-role {
	background-color: #FEF7D5;
}
.role-content.manager-role {
	background-color: #FED0D0;
}
/* When the role-content is checked, add a blue background */
.role input:checked ~ .user-role {
	background-color: #91D791;
}
.role input:checked ~ .supplier-role {
	background-color: #8A79BA;
}
.role input:checked ~ .admin-role {
	background-color: #FBE887;
}
.role input:checked ~ .manager-role {
	background-color: #FC7878;
}
