/* role-contents as customCheckmarked with
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_customCheckmark
check if id.checked == true */
/* The container */
.role {
	display: flex;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 5px;
}
/* Hide the browser's default role-content */
.role input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
/* Create a custom role-content */
.role-content {
	background-color: #D8F1D8;
	color: white;
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 50%;
	font-size: 1.5rem;
	text-align: center;
}
/* On mouse-over, add a grey background color */
.role:hover input ~ .role-content {
	background-color: green;
	/*background-color: #ccc;*/
}
/* On mouse-over, add a grey background color */
.role:hover input:checked ~ .role-content {
	background-color: #ccc;
	/*background-color: green;*/
}
/* When the role-content is checked, add a blue background */
.role input:checked ~ .role-content {
	background-color: #91D791;
}
