/* role-contents as customCheckmarked with
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_customCheckmark
check if id.checked == true */

/* The container */
.role-container {
	display: flex;
	flex-direction: row;
	flex-wrap: row wrap;
	align-items: center;
}

/* The label */
.role {
	display: flex;
	margin: 5px;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*align-items: center;*/
}
/* Hide the browser's default role-content */
.role input {
	position: absolute;
/* Set opacity 0 to make sure the checkbox can be checked via the custom
span. */
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.role input[type="checkbox"]:disabled {
	cursor: default;
}

/* The custom span that is shown instead of the checkbox */
.role-content {
	color: white;
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 50%;
	font-size: 1.5rem;
	text-align: center;
	cursor: pointer;
}
.role-content.disabled {
	cursor: default;
}
/* Don't show a role that is not checked and not in edit mode (disabled class) */
.role-content.disabled.not-checked {
	background-color: white;
	/*visibility: hidden;*/
	/*cursor: default;*/
}
/* When the role-content is checked, add a background */
/* The general sibling combinator ~ separates two selectors and matches the
second element only if it follows the first element (though not necessarily
immediately), and both are children of the same parent element.
https://developer.mozilla.org/en-US/docs/Web/CSS/General_sibling_combinator */
.role input:checked ~ .user-role {
	background-color: #91D791;
}
.role input:checked ~ .supplier-role {
	background-color: #8A79BA;
}
.role input:checked ~ .admin-role {
	background-color: #FBE887;
}
.role input:checked ~ .manager-role {
	background-color: #FC7878;
}
/* When the role is not checked, set a lighter background in edit mode (no disabled class) */
.role-content.user-role {
	background-color: #D8F1D8;
}
.role-content.supplier-role {
	background-color: #D6D0E7;
}
.role-content.admin-role {
	background-color: #FEF7D5;
}
.role-content.manager-role {
	background-color: #FED0D0;
}

/* The button for editing the roles */
.button.edit-role {
	height: 50px;
	margin: 5px;
	width: 50px;
	border: 2px dashed #A6A6A6;
	background-color: white;
	color: #A6A6A6;
	cursor: pointer;
	font-size: 1.5rem;
	padding: 0;
}

/* The button for saving the user roles */
input[type="submit"] {
	margin: 5px;
	text-transform: uppercase;
	background-color: #2FCBAB;
	color: white;
	border: 2px solid #2FCBAB;
	font-size: 1rem;
	text-align: center;
}
