/* Role */
.role {
	display: inline-block;
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 50%;
	font-size: 1.5rem;
	text-align: center;
	color: white;
}
.role-user.selected.not-editing,
.role-user.selected.editing {
	background-color: #91D791;
}
.role-user.not-selected.editing {
	background-color: #D8F1D8;
}
.role-user.not-selected.not-editing {
	background-color: white;
}
.role-supplier.selected.not-editing,
.role-supplier.selected.editing {
	background-color: #8A79BA;
}
.role-supplier.not-selected.editing {
	background-color: #D6D0E7;
}
.role-supplier.not-selected.not-editing {
	background-color: white;
}
.role-admin.selected.not-editing,
.role-admin.selected.editing {
	background-color: #FBE887;
}
.role-admin.not-selected.editing {
	background-color: #FEF7D5;
}
.role-admin.not-selected.not-editing {
	background-color: white;
}
.role-manager.selected.not-editing,
.role-manager.selected.editing {
	background-color: #FC7878;
}
.role-manager.not-selected.editing {
	background-color: #FED0D0;
}
.role-manager.not-selected.not-editing {
	background-color: white;
}
.role-edit {
	border: 2px dashed #A6A6A6;
	background-color: white;
	color: #A6A6A6;
}
.role-save {
	vertical-align: top;/*moet beter kunnen, komt doordat de font-size van de save knop 1rem is ipv 1.5. Breedte van deze knop klopt ook niet.*/
	height: 50px;
	width: 54px;
	line-height: 50px;
	font-size: 1rem;
	white-space: nowrap;
	text-transform: uppercase;
	background-color: #2FCBAB;
	color: white;
	cursor: pointer;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

/* roles as customCheckmarked with
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_customCheckmark
check if id.checked == true */
/* The container */
.container {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default customCheckmark */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom customCheckmark */
.customCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .customCheckmark {
  background-color: #ccc;
}
/* When the customCheckmark is checked, add a blue background */
.container input:checked ~ .customCheckmark {
  background-color: #2196F3;
}
/* Create the customCheckmark/indicator (hidden when not checked) */
.customCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the customCheckmark when checked */
.container input:checked ~ .customCheckmark:after {
  display: block;
}
/* Style the customCheckmark/indicator */
.container .customCheckmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
