/* Role */
.role {
	display: inline-block;
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 50%;
	text-align: center;
	font-size: 1.5rem;
}
.role-user {
	background-color: #91D791;
	color: white;
}
.role-user-inactive {
	background-color: #D8F1D8;
	color: white;
}
.role-user-none {
	background-color: white;
	color: white;
}
.role-supplier {
	background-color: #8A79BA;
	color: white;
}
.role-supplier-inactive {
	background-color: #D6D0E7;
	color: white;
}
.role-supplier-none {
	background-color: white;
	color: white;
}
.role-admin {
	background-color: #FBE887;
	color: white;
}
.role-admin-inactive {
	background-color: #FEF7D5;
	color: white;
}
.role-admin-none {
	background-color: white;
	color: white;
}
.role-manager {
	background-color: #FC7878;
	color: white;
}
.role-manager-inactive {
	background-color: #FED0D0;
	color: white;
}
.role-manager-none {
	background-color: white;
	color: white;
}
.role-add {
	border: 2px dashed #A6A6A6;
	background-color: white;
	color: #A6A6A6;
}
.role-add-inactive {
	border: 2px dashed #A6A6A6;
	background-color: white;
	color: white;
}
.role-add-none {
	border: 2px dashed white;
	background-color: white;
	color: white;
}
.role-save {
	vertical-align: top;/*moet beter kunnen, komt doordat de font-size van de save knop 1rem is ipv 1.5. Breedte van deze knop klopt ook niet.*/
	height: 50px;
	width: 54px;
	line-height: 50px;
	font-size: 1rem;
	white-space: nowrap;
	text-transform: uppercase;
	background-color: #2FCBAB;
	color: white;
	cursor: pointer;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}
