/* Table */
table {
	width: 100%;
	margin-bottom: 40px;
	border-collapse: collapse;
}
thead {
	height: 6vh;
	background-color: #F3F3F3;
	text-align: left;
}
th {
	padding-left: 20px;
}
td {
	/*display: flex;*/
	padding-left: 20px;
	border-bottom: 1px solid #D8D8D8;
}
