html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
}

.wrapper {
	display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.side-filler {
	display: flex;
	flex-grow: 5;
	flex-shrink: 1;
}

header {
    color: white;
    height: 12.5%;
	width: 100%;
}
header a {
	padding-right: 5px;
	color: white;
	text-decoration: none;
}
.header-top, .header-bottom {
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top {
    height: 5.7vh;
    padding: 0 20%;
	background-color: #009F86;
}
.header-top-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.header-top-left-lizard-logo {
    position: absolute;
    padding: 0;
	top: 0.275%;
    height: 7.5%;
}
.header-bottom {
    height: 6.8vh;
    padding: 0 20%;
	background-color: #2FCBAB;
	font-size: 1.2rem;
}

main {
	padding: 0 20%;
	margin-bottom: 80px;
	overflow-y: scroll;
}
.main-content {
	height: 100%;
	width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 20%;
    height: 80px;
	background-color: #D8D8D8;
    color: #009F86;
    
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}
footer a {
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
    color: #009F86;
}