/* General */
.text-center {
	text-align: center;
}
.margin-5px {
	margin: 5px;
}
.margin-side-30px {
	margin-left: 30px;
	margin-right: 30px;
}
.bold {
	font-weight: bold;
}
.underlined {
	text-decoration: underline;
}
.not-shown {
	display: none;
}

/* Icons */
.icon-medium {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1rem;
	vertical-align: middle;
}
.icon-large {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1.25rem;
	vertical-align: middle;
}